*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/DemoApp/build
/DemoApp/app/build
/DemoApp/.idea
/DemoAppCompose/build
/DemoAppCompose/app/build
/DemoAppCompose/.idea
/ReactNativeDemo/.idea
/ReactNativeDemo/node_modules
/ReactNativeDemo/android/build
/ReactNativeDemo/android/.idea
/ReactNativeDemo/android/app/build